@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&family=Solway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&family=Roboto:wght@100&family=Solway:wght@800&display=swap");

*{
  margin: 0;
  padding: 0;
}


body {
  width: 1440px;
}
/* .container{
    max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
} */
.wrapper_header {
  background: url(../portfolio/img/bg.png);
  height: 910px;
  /*     
    display: flex;
    justify-content: space-between; */
}
.wrapper_nav {
  display: flex;
  justify-content: space-between;
  /* width: 600px; */
  margin: 16px 0 0 0;
}

.laguage {
  display: flex;
  color: aliceblue;
}

.photologo {
  width: 50px;
  height: 40px;
  /* padding: 16px 0px 0px 13px; */
  margin: 24px 0px 0px 18px;
}
.navigaton {
  width: 500px;
  padding: 28px;
    margin-right: -37px;
}
  /* margin: -48px 231px 0 0; */


.textcolor {
  margin-right: 24px;
  text-decoration: none;
}

.textcolor {
  color: white;
}
.textnav {
  /* margin: 35px 219px 0 0; */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 5px;
  display: flex;
  justify-content: space-around;
  /* align-items: flex-start; */
  list-style: none;
  margin-right: 89px;
}
.textcolor1 {
  /* margin: 2px 21px 0 1px; */
  color: white;
}
.textcolor2 {
  color: white;
}
.len {
  font-size: 25px;
}
.skills {
  width: 1440px;
  height: 482px;
  background-color: black;
}

.alexa {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
  height: 0;
  margin: 175px 0 0px 76px;
}

.wrapper_content_nav {
  display: flex;
  justify-content: space-between;
}

li {
  margin-right: 6px;
}
.textalexa {
  width: 470px;
  height: 120px;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 20px;
  margin: 140px 0 0 71px;
}
.taphere {
  width: 220px;
  height: 55px;
  background-color: #bdae82;
  margin: 17px 0 0 73px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .texthere {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.textskills {
  font-family: "Merriweather";
  font-size: 40px;
  color: #bdae82;
  margin: 0 24px 0 26px;
  /* margin: 0; */
  /* padding: 107px 0 0px 659px; */
}
.palka1 {
  width: 278px;
  height: 2px;
  /* margin: 0 0 -69px 359px; */
}
.palka2 {
  width: 278px;
  height: 2px;
  /* margin: 0 0 -68px 145px; */
}


.warapper_lines{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 114px 0 0 0;
}
.photography{
  margin: 0 0 -112px 148px;
}
.Digitalphotography{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: white;
  width: 280px;
  height: 40px;
  margin: 166px 0 0 85px;
}
.High-qualityphotosinthestudioandonthenature{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: white;
  line-height: 36px;
  text-align: center;
  margin: 12px 0 0 -1079px;
}
.wrappervideo[
  
]