
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&family=Solway:wght@800&display=swap');


body {
    width: 1440px;
}
/* .container{
    max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
} */
.wrapper_header{
    background: url(../portfolio/img/bg.png);
    height: 910px;
    
    display: flex;
    justify-content: space-between;

}
.wrapper_nav {
    display: flex;
    justify-content: space-between;
    /* width: 600px; */
    margin: 16px 0 0 0;
}

.laguage {
    display: flex;
    color: aliceblue;
}

.photologo{
    width: 50px;
    height: 40px;
    /* padding: 16px 0px 0px 13px; */
    margin: 18px 0px 0px 12px;
}
.navigation{
    width: 500px;
    /* margin: -48px 231px 0 0; */
}

.textcolor {
    margin-right: 26px;
    text-decoration: none;
}

.textcolor{
    color: white;
 
    
}
.textnav{
    /* margin: 35px 219px 0 0; */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 5px;
 display: flex;
    justify-content: flex-end;
    align-items: flex-start;
list-style:none;
}
.textcolor1{
    /* margin: 2px 21px 0 1px; */
    color: white;
}
.textcolor2{
    color: white;
}